<div class="container">
    <h1 class="title">記事一覧</h1>
    <div class="articleCardContainer">
        <div class="carditem">
            <a class="innerLinkHolder" routerLink="/article">
                <div class="pictureArea">
                    <div class="pictureContents">
                        <img src="http://via.placeholder.com/320x280" alt="">
                    </div>
                </div>
                <div class="descriptionArea">
                    <p class="descriptionContents">
                        サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。
                    </p>
                </div>
            </a>
        </div>
        <div class="carditem">
            <a class="innerLinkHolder" routerLink="/article">
                <div class="pictureArea">
                    <div class="pictureContents">
                        <img src="http://via.placeholder.com/320x280" alt="">
                    </div>
                </div>
                <div class="descriptionArea">
                    <p class="descriptionContents">
                        サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。
                    </p>
                </div>
            </a>
        </div>
        <div class="carditem">
            <a class="innerLinkHolder" routerLink="/article">
                <div class="pictureArea">
                    <div class="pictureContents">
                        <img src="http://via.placeholder.com/320x280" alt="">
                    </div>
                </div>
                <div class="descriptionArea">
                    <p class="descriptionContents">
                        サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>
